$font-family: robotoflex,"Helvetica Neue","Helvetica","Arial",sans-serif;

@font-face {
    font-family: 'robotoflex';
    src: url('./src/assets/font/RobotoFlex-Variable.ttf');
    font-weight: 100;
}
@font-face {
    font-family: 'robotoflex';
    src: url('./src/assets/font/RobotoFlex-Variable.ttf');
    font-weight: 200;
}
@font-face {
    font-family: 'robotoflex';
    src: url('./src/assets/font/RobotoFlex-Variable.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'robotoflex';
    src: url('./src/assets/font/RobotoFlex-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'robotoflex';
    src: url('./src/assets/font/RobotoFlex-Variable.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'robotoflex';
    src: url('./src/assets/font/RobotoFlex-Variable.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'robotoflex';
    src: url('./src/assets/font/RobotoFlex-Variable.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'robotoflex';
    src: url('./src/assets/font/RobotoFlex-Variable.ttf');
    font-weight: 800;
}
@font-face {
    font-family: 'notosans';
    src: url('./src/assets/font/RobotoFlex-Variable.ttf');
    font-weight: 900;
}
@font-face {
    font-family: 'robotoflex';
    src: url('./src/assets/font/RobotoFlex-Variable.ttf');
    font-weight: 1000;
}